.first-page .top-header {
    text-align: center;
    display: block;
    padding: 85px 0 45px 0;
}
.page-header {
    color: #02263C;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 20px 0 11px 0;
}
.page-header-info {
    border-radius: 6px;
    background: #F0F0F0;
    padding: 10px 21px;
    color: #002136;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
	text-align: center;
}
.inputMargin {
    margin: 20px 0 40px 0;
}
.double-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.inner-form-sec {
    padding: 0 54px;
}
.form-heading img {
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    margin: 0 21px 0 0;
}
.form-heading span {
    color: #02283F;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
}
.form-heading span:after {
    content: '';
    flex: 1;
    margin-left: 0.5rem;
    height: 1px;
    background-color: #000000;
}
.form-heading {
    display: flex;
    align-items: center;
}
.uploaded-info {
    border-radius: 6px;
    border: 1px solid #666;
    padding: 12px 19px;
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}
.uploaded-img {
    max-width: 40px;
    min-width: 40px;
    margin: 0 20px 0 0;
}
.uploaded-headeing {
    color: #424242;
    font-size: 16px;
    font-weight: 600;
}
.uploaded-error {
    color: #269A09;
    font-size: 16px;
    font-weight: 700;
    padding-top: 6px !important;
}
@media screen and (max-width: 1025px) {
    .inner-form-sec {
        padding: 0;
    }
}
@media screen and (max-width: 600px) {
    .form-heading span:after {
        content: inherit;
    }
}